@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Career Cloud</h1>
    <p class="lead">It is a Job Portal where applicant can register and apply for jobs. Companies are also welcome to register and publish the jobs they have.</p>
    <p><a href="https://ca.linkedin.com/in/muhammad-faisal1981" class="btn btn-primary btn-lg">By Muhammad Faisal</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Applicant Profile", "Index", "ApplicantProfilePocoes")</li>
                <li>@Html.ActionLink("Applicant Education", "Index", "ApplicantEducationPocoes")</li>
                <li>@Html.ActionLink("Applicant Resume", "Index", "ApplicantResumePocoes")</li>
                <li>@Html.ActionLink("Applicant Skill", "Index", "ApplicantSkillPocoes")</li>
                <li>@Html.ActionLink("Applicant Work History", "Index", "ApplicantWorkHistoryPocoes")</li>
                <li>@Html.ActionLink("Applicant Job Application", "Index", "ApplicantJobApplicationPocoes")</li>
                <li>@Html.ActionLink("Company Profile", "Index", "CompanyProfilePocoes")</li>
                <li>@Html.ActionLink("Company Location", "Index", "CompanyLocationPocoes")</li>
                <li>@Html.ActionLink("Company Description", "Index", "CompanyDescriptionPocoes")</li>
                <li>@Html.ActionLink("Company Job", "Index", "CompanyJobPocoes")</li>
                <li>@Html.ActionLink("Company Job Skill", "Index", "CompanyJobSkillPocoes")</li>
                <li>@Html.ActionLink("Company Job Education", "Index", "CompanyJobEducationPocoes")</li>
                <li>@Html.ActionLink("Company Job Description", "Index", "CompanyJobDescriptionPocoes")</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://github.com/mfaisaldev">Git Repo</a></p>
    </div>    
</div>